* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #303133;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
}

header .izq {
  width: 50%;
}

header .logo {
  width: 50%;
}

header .logo img {
  max-width: 10rem;
  max-height: 20rem;
}

.noerror {
  display: none;
}

.error {
  display: block;
  background-color: black;
  padding: 20px;
  text-align: center;
  color: red;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: red;
  padding: 20px 0;
}

.menu ul li a {
  padding: 20px;
  color: white;
}

.container {
  padding: 20px;
}

.col {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  margin: 0 20px;
}

.col .izq {
  width: 75%;
  border-right: 3px solid red;
}

.col .der {
  margin-left: 20px;
  width: 25%;
}

.login {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
}

.login h3 {
  width: 100%;
  background: #4caf50;
  padding: 20px;
  text-align: center;
}

.login h3 a {
  text-decoration: none;
  color: white;
}

.message {
  font-size: 1rem;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.input {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.input:hover,
.input:active,
.input:focus {
  background: #43a047;
}

.table { border-collapse: collapse; margin: 25px 0; font-size: 1em; font-family: sans-serif; min-width: 450px; }

.table thead tr { background-color: #980081; color: #ffffff; text-align: middle; }

.table th, .table td { padding: 12px 15px; border: black 4px solid; text-align: center; font-size: 15px;}

.table td {
  padding: 0;
}

footer {
  text-align: center;
  background-color: black;
  margin-top: 63px;
  color: white;
	width: 100%;
  padding: 30px 0;
}
